@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Bayonets and Tomahawks implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * bayonetsandtomahawks.css
 *
 * bayonetsandtomahawks stylesheet
 *
 */
/**
 * All base constants to be used in other sass files.
 */
.bga-zoom-out-icon {
  width: 48px;
  height: 48px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

.bga-zoom-button {
  cursor: pointer;
}

.bga-zoom-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.bga-zoom-in-icon {
  width: 48px;
  height: 48px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bt_game_map {
  background-image: url("img/map.webp");
  background-size: 1500px 2318px;
  background-repeat: no-repeat;
  position: relative;
  height: 2318px;
  width: 1500px;
  box-shadow: 1px 1px 5px #000;
  transform-origin: top left;
}

.bt_game_map_zoom_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

.bt_space {
  position: absolute;
  background-color: yellow;
  width: 32px;
  height: 32px;
}

#bt_pools_container {
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px;
}

.bt_unit_pool {
  min-height: 52px;
  min-width: 100px;
  background-color: yellow;
  margin: 4px;
}

.bt_token[data-faction=british] {
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-faction=french] {
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-faction=indian] {
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-unit-type=bastion] {
  background-position-x: 63.6363636364%;
  background-position-y: 0%;
  top: 290px;
  left: 992px;
}

.bt_token[data-unit-type=pouchot] {
  background-position-x: 45.4545454545%;
  background-position-y: 16.6666666667%;
}

.bt_token[data-unit-type=micmac] {
  background-position-x: 100%;
  background-position-y: 50%;
  top: 469px;
  left: 700px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.bt_token {
  width: 52px;
  height: 52px;
  position: absolute;
}

.bt_marker {
  background-image: url("img/markers_2.webp");
  width: 37px;
  height: 37px;
  background-size: 800% 600%;
  position: absolute;
}

.bt_marker[data-marker-type=victory_point] {
  background-position-x: 71.4285714286%;
  background-position-y: 60%;
  top: 26px;
  left: 570px;
  border-width: 2px;
  border-style: solid;
  border-color: #f5f5f5 #d8d8d8 #d8d8d8 #f5f5f5;
  box-shadow: 0 0 0 1px #707070;
}

html {
  background: url("") rgb(192, 192, 192);
}

#bt_play_area {
  transform-origin: top left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*# sourceMappingURL=bayonetsandtomahawks.css.map */
