@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Bayonets and Tomahawks implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * bayonetsandtomahawks.css
 *
 * bayonetsandtomahawks stylesheet
 *
 */
/**
 * All base constants to be used in other sass files.
 */
.bga-zoom-out-icon {
  width: 48px;
  height: 48px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

.bga-zoom-button {
  cursor: pointer;
}

.bga-zoom-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.bga-zoom-in-icon {
  width: 48px;
  height: 48px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bt_game_map {
  background-image: url("img/map.webp");
  background-size: 1500px 2318px;
  background-repeat: no-repeat;
  position: relative;
  height: 2318px;
  width: 1500px;
  box-shadow: 1px 1px 5px #000;
  transform-origin: top left;
}

.bt_game_map_zoom_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

.bt_space {
  position: absolute;
  width: 52px;
  height: 52px;
}

#bt_pools_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4px;
  flex-grow: 1;
}

.bt_unit_pool_container {
  min-height: 52px;
  min-width: 100px;
  max-width: 400px;
  background-color: ivory;
  padding: 4px;
  margin: 4px;
}

.bt_unit_pool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bt_unit_pool_section_title {
  margin-top: 8px;
}

.bt_token {
  width: 52px;
  height: 52px;
  position: absolute;
  z-index: 1;
}

.bt_token[data-counter-id=Abenaki] {
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Chaouanon] {
  background-position-x: 25%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Cherokee] {
  background-position-x: 50%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Cherokee_british] {
  background-position-x: 75%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Delaware] {
  background-position-x: 100%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Iroquois] {
  background-position-x: 0%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Iroquois_british] {
  background-position-x: 25%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Kahnawake] {
  background-position-x: 50%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Malecite] {
  background-position-x: 75%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Micmac] {
  background-position-x: 100%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Mingo] {
  background-position-x: 0%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Mississague] {
  background-position-x: 25%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Mohawk] {
  background-position-x: 50%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Outaouais] {
  background-position-x: 75%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=Seneca] {
  background-position-x: 100%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_ind.webp");
  background-size: 500% 300%;
}

.bt_token[data-counter-id=B15th58th_reduced] {
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B15th58th] {
  background-position-x: 9.0909090909%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B22nd28th_reduced] {
  background-position-x: 18.1818181818%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B22nd28th] {
  background-position-x: 27.2727272727%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B27th55th_reduced] {
  background-position-x: 36.3636363636%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B27th55th] {
  background-position-x: 45.4545454545%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B35thNewYorkCompanies_reduced] {
  background-position-x: 54.5454545455%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B35thNewYorkCompanies] {
  background-position-x: 63.6363636364%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B40th45th47th_reduced] {
  background-position-x: 72.7272727273%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B40th45th47th] {
  background-position-x: 81.8181818182%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B43rd46th_reduced] {
  background-position-x: 90.9090909091%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B43rd46th] {
  background-position-x: 100%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B44th48th_reduced] {
  background-position-x: 0%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B44th48th] {
  background-position-x: 9.0909090909%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B50th51st_reduced] {
  background-position-x: 18.1818181818%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B50th51st] {
  background-position-x: 27.2727272727%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B61st63rd_reduced] {
  background-position-x: 36.3636363636%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B61st63rd] {
  background-position-x: 45.4545454545%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B94th95th_reduced] {
  background-position-x: 54.5454545455%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B94th95th] {
  background-position-x: 63.6363636364%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=RoyalArtillery_reduced] {
  background-position-x: 72.7272727273%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=RoyalArtillery] {
  background-position-x: 81.8181818182%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Bradstreet] {
  background-position-x: 90.9090909091%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Forbes] {
  background-position-x: 100%;
  background-position-y: 10%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=CHowe] {
  background-position-x: 0%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=BritishCommander] {
  background-position-x: 9.0909090909%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Wolfe] {
  background-position-x: 18.1818181818%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=NewEngland_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=NewEngland] {
  background-position-x: 36.3636363636%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=NYorkNJ_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=NYorkNJ] {
  background-position-x: 54.5454545455%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=PennDel_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=PennDel] {
  background-position-x: 72.7272727273%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=VirginiaS_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=VirginiaS] {
  background-position-x: 90.9090909091%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Boscawen_reduced] {
  background-position-x: 100%;
  background-position-y: 20%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Boscawen] {
  background-position-x: 0%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Colvill_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Colvill] {
  background-position-x: 18.1818181818%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Durell_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Durell] {
  background-position-x: 36.3636363636%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Hardy_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Hardy] {
  background-position-x: 54.5454545455%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Holburne_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Holburne] {
  background-position-x: 72.7272727273%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Holmes_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Holmes] {
  background-position-x: 90.9090909091%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=RoyalNavy_reduced] {
  background-position-x: 100%;
  background-position-y: 30%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=RoyalNavy] {
  background-position-x: 0%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Saunders_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Saunders] {
  background-position-x: 18.1818181818%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Anne_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Anne] {
  background-position-x: 36.3636363636%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Augusta_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Augusta] {
  background-position-x: 54.5454545455%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Bedford_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Bedford] {
  background-position-x: 72.7272727273%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=CrownPoint_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=CrownPoint] {
  background-position-x: 90.9090909091%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Cumberland_reduced] {
  background-position-x: 100%;
  background-position-y: 40%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Cumberland] {
  background-position-x: 0%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Edward_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Edward] {
  background-position-x: 18.1818181818%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Frederick_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Frederick] {
  background-position-x: 36.3636363636%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Herkimer_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Herkimer] {
  background-position-x: 54.5454545455%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Johnson_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Johnson] {
  background-position-x: 72.7272727273%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Ligonier_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Ligonier] {
  background-position-x: 90.9090909091%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Ontario_reduced] {
  background-position-x: 100%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Ontario] {
  background-position-x: 0%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Pitt_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Pitt] {
  background-position-x: 18.1818181818%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Pownall_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Pownall] {
  background-position-x: 36.3636363636%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Stanwix_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Stanwix] {
  background-position-x: 54.5454545455%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Ticonderoga_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Ticonderoga] {
  background-position-x: 72.7272727273%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=WilliamHenry_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=WilliamHenry] {
  background-position-x: 90.9090909091%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Campbell_reduced] {
  background-position-x: 100%;
  background-position-y: 60%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Campbell] {
  background-position-x: 0%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Fraser_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Fraser] {
  background-position-x: 18.1818181818%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Montgomery_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Montgomery] {
  background-position-x: 36.3636363636%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=RoyalHighland_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=RoyalHighland] {
  background-position-x: 54.5454545455%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=HowardsBuffsKingsOwn_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=HowardsBuffsKingsOwn] {
  background-position-x: 72.7272727273%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Armstrong_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Armstrong] {
  background-position-x: 90.9090909091%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Dunn_reduced] {
  background-position-x: 100%;
  background-position-y: 70%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Dunn] {
  background-position-x: 0%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Goreham_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Goreham] {
  background-position-x: 18.1818181818%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Putnam_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Putnam] {
  background-position-x: 36.3636363636%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Rogers_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Rogers] {
  background-position-x: 54.5454545455%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Washington_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Washington] {
  background-position-x: 72.7272727273%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Gage_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Gage] {
  background-position-x: 90.9090909091%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=LHowe_reduced] {
  background-position-x: 100%;
  background-position-y: 80%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=LHowe] {
  background-position-x: 0%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Morgan_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Morgan] {
  background-position-x: 18.1818181818%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Scott_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=Scott] {
  background-position-x: 36.3636363636%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B2ndRoyalAmerican_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B2ndRoyalAmerican] {
  background-position-x: 54.5454545455%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B1stRoyalAmerican_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=B1stRoyalAmerican] {
  background-position-x: 72.7272727273%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=RoyalScots17th_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=RoyalScots17th] {
  background-position-x: 90.9090909091%;
  background-position-y: 90%;
  background-image: url("img/unit_tokens_bri.webp");
  background-size: 1200% 1100%;
}

.bt_token[data-counter-id=CanonniersBombardiers_reduced] {
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=CanonniersBombardiers] {
  background-position-x: 9.0909090909%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=AngoumoisBeauvoisis_reduced] {
  background-position-x: 18.1818181818%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=AngoumoisBeauvoisis] {
  background-position-x: 27.2727272727%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=ArtoisBourgogne_reduced] {
  background-position-x: 36.3636363636%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=ArtoisBourgogne] {
  background-position-x: 45.4545454545%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Bastion_reduced] {
  background-position-x: 54.5454545455%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Bastion] {
  background-position-x: 63.6363636364%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=BearnGuyenne_reduced] {
  background-position-x: 72.7272727273%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=BearnGuyenne] {
  background-position-x: 81.8181818182%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Berry_reduced] {
  background-position-x: 90.9090909091%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Berry] {
  background-position-x: 100%;
  background-position-y: 0%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=BoulonnoisRoyalBarrois_reduced] {
  background-position-x: 0%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=BoulonnoisRoyalBarrois] {
  background-position-x: 9.0909090909%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=CLevis] {
  background-position-x: 18.1818181818%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Montcalm] {
  background-position-x: 27.2727272727%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=FrenchCommander] {
  background-position-x: 36.3636363636%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Pouchot] {
  background-position-x: 45.4545454545%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Rigaud] {
  background-position-x: 54.5454545455%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=VolontEtrangersCambis_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=VolontEtrangersCambis] {
  background-position-x: 72.7272727273%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Canadiens_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Canadiens] {
  background-position-x: 90.9090909091%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Beauffremont_reduced] {
  background-position-x: 100%;
  background-position-y: 16.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Beauffremont] {
  background-position-x: 0%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=DeLIsle_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=DeLIsle] {
  background-position-x: 18.1818181818%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=DeLaMotte_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=DeLaMotte] {
  background-position-x: 36.3636363636%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=MarineRoyale_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=MarineRoyale] {
  background-position-x: 54.5454545455%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=FoixQuercy_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=FoixQuercy] {
  background-position-x: 72.7272727273%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Beausejour_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Beausejour] {
  background-position-x: 90.9090909091%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Carillon_reduced] {
  background-position-x: 100%;
  background-position-y: 33.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Carillon] {
  background-position-x: 0%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Duquesne_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Duquesne] {
  background-position-x: 18.1818181818%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Frontenac_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Frontenac] {
  background-position-x: 36.3636363636%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=JacquesCartier_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=JacquesCartier] {
  background-position-x: 54.5454545455%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=FLevis_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=FLevis] {
  background-position-x: 72.7272727273%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Massiac_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Massiac] {
  background-position-x: 90.9090909091%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Niagara_reduced] {
  background-position-x: 100%;
  background-position-y: 50%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Niagara] {
  background-position-x: 0%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=SaintFrederic_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=SaintFrederic] {
  background-position-x: 18.1818181818%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Aubry_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Aubry] {
  background-position-x: 36.3636363636%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Beaujeu_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Beaujeu] {
  background-position-x: 54.5454545455%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Belestre_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Belestre] {
  background-position-x: 72.7272727273%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Boishebert_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Boishebert] {
  background-position-x: 90.9090909091%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Lacorne_reduced] {
  background-position-x: 100%;
  background-position-y: 66.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Lacorne] {
  background-position-x: 0%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Langis_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Langis] {
  background-position-x: 18.1818181818%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Langlade_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Langlade] {
  background-position-x: 36.3636363636%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Lery_reduced] {
  background-position-x: 45.4545454545%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Lery] {
  background-position-x: 54.5454545455%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Lignery_reduced] {
  background-position-x: 63.6363636364%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Lignery] {
  background-position-x: 72.7272727273%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Villiers_reduced] {
  background-position-x: 81.8181818182%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=Villiers] {
  background-position-x: 90.9090909091%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=LaSarreRoyalRoussillon_reduced] {
  background-position-x: 100%;
  background-position-y: 83.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=LaSarreRoyalRoussillon] {
  background-position-x: 0%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=LanguedocLaReine_reduced] {
  background-position-x: 9.0909090909%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=LanguedocLaReine] {
  background-position-x: 18.1818181818%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=DeLaMarine_reduced] {
  background-position-x: 27.2727272727%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=DeLaMarine] {
  background-position-x: 36.3636363636%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 45.4545454545%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 54.5454545455%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 63.6363636364%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 72.7272727273%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 81.8181818182%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 90.9090909091%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 100%;
  background-position-y: 100%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 0%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 9.0909090909%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 18.1818181818%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 27.2727272727%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 36.3636363636%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 45.4545454545%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 54.5454545455%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 63.6363636364%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 72.7272727273%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 81.8181818182%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 90.9090909091%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 100%;
  background-position-y: 116.6666666667%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 0%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 9.0909090909%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 18.1818181818%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 27.2727272727%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 36.3636363636%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 45.4545454545%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 54.5454545455%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 63.6363636364%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 72.7272727273%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 81.8181818182%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 90.9090909091%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 100%;
  background-position-y: 133.3333333333%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 0%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 9.0909090909%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 18.1818181818%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 27.2727272727%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 36.3636363636%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 45.4545454545%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 54.5454545455%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 63.6363636364%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 72.7272727273%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 81.8181818182%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-counter-id=""] {
  background-position-x: 90.9090909091%;
  background-position-y: 150%;
  background-image: url("img/unit_tokens_fre.webp");
  background-size: 1200% 700%;
}

.bt_token[data-unit-type=bastion] {
  background-position-x: 63.6363636364%;
  background-position-y: 0%;
  top: 290px;
  left: 992px;
}

.bt_token[data-unit-type=pouchot] {
  background-position-x: 45.4545454545%;
  background-position-y: 16.6666666667%;
}

.bt_token[data-unit-type=micmac] {
  background-position-x: 100%;
  background-position-y: 50%;
  top: 469px;
  left: 700px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.bt_marker {
  background-image: url("img/markers_2.webp");
  width: 37px;
  height: 37px;
  background-size: 800% 600%;
  position: absolute;
}

.bt_marker[data-marker-type=victory_point] {
  background-position-x: 71.4285714286%;
  background-position-y: 60%;
  top: 26px;
  left: 570px;
  border-width: 2px;
  border-style: solid;
  border-color: #f5f5f5 #d8d8d8 #d8d8d8 #f5f5f5;
  box-shadow: 0 0 0 1px #707070;
}

html {
  background: url("") rgb(192, 192, 192);
}

#bt_play_area {
  transform-origin: top left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*# sourceMappingURL=bayonetsandtomahawks.css.map */
