@use '../base';

#bt_cards_in_play {
  min-height: 52px;
  min-width: 100px;
  // max-width: 400px;
  background-color: ivory;
  padding: 8px;
  // margin: 4px;
  // box-shadow: 1px 1px 5px #000;
  --btCardScale: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;

  .bt_card_in_play_container {
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px;

    .bt_card_in_play_title {
      color: white;
      font-weight: bold;
      font-size: small;
      padding-bottom: 4px;
    }

    .bt_card_in_play {
      position: relative;
      box-sizing: border-box;
      width: calc(var(--btCardScale) * 250px);
      height: calc(var(--btCardScale) * 179px);
    }
  }
}

.bt_card_in_play_container[data-faction='french'] {
  background-color: base.$french-color;
}

.bt_card_in_play_container[data-faction='indian'] {
  background-color: base.$indian-color;
}

.bt_card_in_play_container[data-faction='british'] {
  background-color: base.$british-color;
}
