@use 'sass:math';
@use '../base';

#information_button {
  // border: 1px solid #777;
  border-radius: 50%;
  // box-shadow: 2px 2px 5px black;
  // background-color: gray;
  background-color: transparent;

  // margin: 0px 5px;
  // margin-top: -38px;
  cursor: pointer;
  // transform: translateY(0);
  // transition: transform 0.4s, margin 0.4s;

  width: 50px;
  height: 50px;
  // margin: 4px;
  // margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  .information_modal_icon {
    width: 40px;
    height: 40px;
  }

  &:hover {
    .information_modal_icon {
      width: 48px;
      height: 48px;
      fill: white;
    }
  }
}

#popin_information_modal_underlay {
  background-color: #000 !important;
}

.information_modal {
  // background-image: url("img/background_paper.jpg");
  background-color: ivory;
  background-size: cover;
  border-radius: 8px;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px;
  border: 1px solid black;
  // width: 95%;
  max-width: 1200px;
  // margin: 50px 0px;
  min-width: 640px;

  .information_modal_closeicon {
    background-color: #a47a77;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -18px;
    right: -18px;
    font-size: 90%;
    color: white !important;
    border: 1px solid #dfbda8;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: #ccc !important;
      transform: scale(1.1);
    }

    i {
      margin-top: -2px;
    }
  }

  h2 {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 0px;
    padding: 7px 0px;
    border-bottom: 1px solid black;
    background-color: base.$french-color;
    color: ivory;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  #information_modal_content {
    min-height: 200px;

    .information_modal_tabs {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .information_modal_tab {
        flex-grow: 1;
        width: 20%;
        background-color: base.$light-blue;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding: 4px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;

        span {
          font-weight: bold;
          font-size: large;
          // width: 100%;
          text-align: center;
          // margin-bottom: calc(var(--paxRenMapScale) * 8px);
        }
      }

      .information_modal_tab[data-state='selected'] {
        background-color: transparent;
        border-bottom: none;
        cursor: auto;
      }
    }

    .information_modal_tab_content {
      padding: 8px;
    }

    .information_modal_tab:first-child {
      border-left: none !important;
    }

    .information_modal_tab:last-child {
      border-right: none;
    }

    #bt_gameMap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4px;

      .bt_space_info_row {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;

        .bt_space_info_images {
          display: flex;
          flex-direction: row;
          gap: 2px;
        }

        .bt_space_text {
          display: flex;
          flex-direction: column;
          gap: 2px;

          .title {
            font-weight: bold;
          }

          .text {
            font-size: smaller;
          }
        }
      }

      .bt_space_image {
        background-image: url(img/map.jpg);
        background-size: 1050px 1622.6px;
        margin: 2px 0px;
      }
    }

    #bt_winterQuarters {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;

      .section_title {
        font-weight: bold;
      }

      tr {
        margin-bottom: 2px;
      }

      th {
        span {
          font-size: smaller;
        }
      }

      td {
        font-size: smaller;
      }

      .bt_winterQuarters_details {
        display: flex;
        flex-direction: row;

        .bt_procedure_number {
          min-width: 20px;
        }
      }
    }

    // #bt_return_to_colonies_procedure_info,
    // #bt_winter_quarters_procedure_info {
    //   .section_title {
    //     font-weight: bold;
    //   }

    //   li {
    //     font-size: smaller;
    //   }
    // }
  }
}
