@use 'sass:math';
@use 'sass:map';
@use '../base';

#bt_unit_visibility_info {
  align-items: center;
  display: flex;

  #eye_button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 6px;
    width: 40px;

    svg {
      cursor: pointer;
      width: 80%;
    }

    svg:hover {
      fill: white;
    }
  }

  #eye_button[data-units-visible='true'] {
    #bt_eye_off_button {
      display: none;
    }
  }

  #eye_button[data-units-visible='false'] {
    #bt_eye_on_button {
      display: none;
    }
  }
}

#bt_game_map {
  background-image: url('img/map.webp');
  // background-size: 1500px 2318px;
  background-size: calc(
      var(--leftColumnScale) * var(--mapSizeMultiplier) * 1500px
    )
    calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 2318px);
  background-repeat: no-repeat;
  position: relative;
  // height: 2318px;
  // width: 1500px;
  height: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 2318px);
  width: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1500px);
  // box-shadow: rgb(0 0 0) 2px 2px 8px;
  box-shadow: 1px 1px 5px #000;
  // transform-origin: top left;
  --btMapScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --btMarkerScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --btTokenScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
}

#battle_markers_pool {
  position: absolute;
  height: calc(var(--btMapScale) * 44px);
  width: calc(var(--btMapScale) * 96px);
  top: calc(var(--btMapScale) * 192px);
  left: calc(var(--btMapScale) * 282px);
}

#sailBox {
  position: absolute;
  height: calc(var(--btMapScale) * 52px);
  width: calc(var(--btMapScale) * 110px);
  top: calc(var(--btMapScale) * 90px);
  left: calc(var(--btMapScale) * 1233px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.bt_connection {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(var(--btMarkerScale) * 44px);
  max-height: calc(var(--btMarkerScale) * 44px);
  min-width: calc(var(--btMarkerScale) * 44px);
  max-width: calc(var(--btMarkerScale) * 44px);

  .bt_marker_side[data-type='none'] {
    display: none;
    background-image: none;
  }

  .bt_marker_side.bt_selectable {
    display: initial;
    box-shadow: 0px 0px 0px calc(var(--btMapScale) * 4px) base.$selectable-color !important;
    cursor: pointer;
  }

  .bt_marker_side.bt_selected,
  .bt_marker_side.bt_selectable:hover {
    display: initial;
    box-shadow: 0px 0px 0px calc(var(--btMapScale) * 4px) base.$selected-color !important;
    cursor: pointer;
  }

  .bt_connection_limit_counter {
    min-width: calc(var(--btMapScale) * 34px);
    min-height: calc(var(--btMapScale) * 30px);
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: calc(var(--btMapScale) * 30px);
      font-weight: 700;
      letter-spacing: -2px;
      margin-left: -2px;
      // margin-top: 2px;
      // text-shadow: 2px 0 2px hsla(0, 0%, 100%, .6), 0 -2px 2px hsla(0, 0%, 100%, .6), 0 2px 2px hsla(0, 0%, 100%, .6), -2px 0 2px hsla(0, 0%, 100%, .6);
      // text-shadow: 2px 0 2px rgba(0, 0, 0, 1), 0 -2px 2px rgba(0, 0, 0, 1), 0 2px 2px rgba(0, 0, 0, 1), -2px 0 2px rgba(0, 0, 0, 1);
    }
  }

  span[data-faction='british'] {
    color: base.$british-color;
  }

  span[data-faction='french'] {
    color: base.$french-color;
  }
}


.bt_space {
  position: absolute !important;
  border-radius: 50%;
  height: calc(var(--btMapScale) * 52px);
  width: calc(var(--btMapScale) * 52px);
  // opacity: 0.5;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.bt_commander_rerolls_track {
  .bt_token {
    // TODO: check how to properly solve it.
    // We need to be able to move units from position absolute stock
    // to other stock
    position: unset !important;
    // position: relative !important;
  }
}

.bt_space.bt_selectable {
  box-shadow: 0px 0px 0px calc(var(--btMapScale) * 4px) base.$selectable-color !important;
  cursor: pointer;
}

.bt_space.bt_selected,
.bt_space.bt_selectable:hover {
  box-shadow: 0px 0px 0px calc(var(--btMapScale) * 4px) base.$selected-color !important;
  cursor: pointer;
}

.bt_marker_space {
  position: absolute;
  height: calc(var(--btMapScale) * 44px);
  width: calc(var(--btMapScale) * 44px);
  display: flex;
}

.bt_test {
  background-color: yellow;
  opacity: 0.7;
}

.bt_raid_track {
  justify-content: center;
}

.bt_stack {
  border-radius: calc(var(--btMapScale) * 4px);

  .bt_token,
  .bt_marker {
    transition: top 500ms, left 500ms;
    // position: relative;
  }
}

.bt_stack[data-has-unit='true'] {
  min-width: calc(var(--btMapScale) * 52px);

  .bt_token {
    position: absolute !important;
    transition: top 500ms, left 500ms;
  }
}

.bt_stack[data-expanded='true'] {
  .bt_marker,
  .bt_token {
    z-index: 1;
  }
}

.bt_token {
  .bt_spent_marker {
    background-image: url('img/markers_2.webp');
    background-size: 800% 600%;
    background-position-x: math.div(7, 7) * 100%;
    background-position-y: math.div(3, 5) * 100%;
    position: absolute;
    height: calc(var(--btMapScale) * 20px);
    width: calc(var(--btMapScale) * 20px);
    top: calc(var(--btMapScale) * 28px);
  }

  .bt_spent_marker[data-spent='false'] {
    display: none;
  }
}

.bt_marker.bt_selectable > .card-sides > .card-side,
.bt_token.bt_selectable > .card-sides > .card-side {
  cursor: pointer;
  filter: drop-shadow(2px 0px 0px base.$selectable-color)
    drop-shadow(-2px 0px 0px base.$selectable-color)
    drop-shadow(0px 2px 0px base.$selectable-color)
    drop-shadow(0px -2px 0px base.$selectable-color);
  // box-shadow: 0px 0px 0px calc(var(--btCardScale) * 4px)
  //   base.$selectable-color !important;
}

.bt_marker.bt_selectable:hover > .card-sides > .card-side,
.bt_marker.bt_selected > .card-sides > .card-side,
.bt_token.bt_selectable:hover > .card-sides > .card-side,
.bt_token.bt_selected > .card-sides > .card-side {
  cursor: pointer;
  // box-shadow: 0px 0px 0px calc(var(--btCardScale) * 4px)
  //   base.$selected-color !important;
  filter: drop-shadow(2px 0px 0px base.$selected-color)
    drop-shadow(-2px 0px 0px base.$selected-color)
    drop-shadow(0px 2px 0px base.$selected-color)
    drop-shadow(0px -2px 0px base.$selected-color);
}

// .bt_token.bt_selectable::before {
//   position: absolute;
//   content: '';
//   background-color: yellow;
//   left: calc(var(--btTokenScale)* -4px);
//   top: calc(var(--btTokenScale)* -4px);
//   height: calc(var(--btTokenScale)* 60px);
//   width: calc(var(--btTokenScale)* 60px);
//   border-radius: calc(var(--btTokenScale)* 2px);
//   // cursor: pointer;
//   // filter: drop-shadow(2px 0px 0px base.$selectable-color)
//   //   drop-shadow(-2px 0px 0px base.$selectable-color)
//   //   drop-shadow(0px 2px 0px base.$selectable-color)
//   //   drop-shadow(0px -2px 0px base.$selectable-color);
//   // box-shadow: 0px 0px 0px calc(var(--btCardScale) * 4px)
//   //   base.$selectable-color !important;
// }

.bt_stack.bt_selectable {
  box-shadow: 0px 0px 0px calc(var(--btMapScale) * 4px) base.$selectable-color !important;
  cursor: pointer;
}

.bt_stack.bt_selected {
  box-shadow: 0px 0px 0px calc(var(--btMapScale) * 4px) base.$selected-color !important;
  cursor: pointer;
}

.bt_losses_box {
  position: absolute;
  width: calc(var(--btMapScale) * 120px);
  height: calc(var(--btMapScale) * 300px);
  display: grid !important;
  grid-template-columns: repeat(auto-fit, calc(var(--btMapScale) * 52px));
  grid-template-rows: repeat(auto-fit, minmax(calc(var(--btMapScale) * 15px), max-content));
  grid-gap: calc(var(--btMapScale) * 4px) !important;
}

#lossesBox_french {
  top: calc(var(--btMapScale) * 553px);
  left: calc(var(--btMapScale) * 40px);
}

#lossesBox_british {
  top: calc(var(--btMapScale) * 1314px);
  left: calc(var(--btMapScale) * 1350px);
}

#disbandedColonialBrigades {
  top: calc(var(--btMapScale) * 1651px);
  left: calc(var(--btMapScale) * 1350px);
  height: calc(var(--btMapScale) * 170px);
}

#bt_game_map[data-units-visible='false'] {
  .bt_marker,
  .bt_marker_side,
  .bt_token {
    display: none;
  }
}
