@use 'sass:math';
@use '../base';
/* ------- UNDO TURN ------- */

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

#logs .log.notif_newUndoableStep {
  margin-top: 0px;

  .roundedbox {
    display: none;
    text-align: center;
    cursor: pointer;
    background-color: #c4c2c2;
    font-size: 12px;
    padding: 2px 5px;

    &::before,
    &::after {
      content: '\f0e2';
      font: normal normal normal 12px/1 FontAwesome;
      margin: 0px 10px;
    }
  }

  &.selectable .roundedbox {
    display: block;
  }
}

.chatwindowlogs_zone .log.notif_newUndoableStep {
  margin-bottom: -4px;
  padding: 0px;
  display: none !important;

  &.selectable {
    display: block !important;

    .roundedboxinner {
      text-align: center;
      cursor: pointer;
      background-color: #c4c2c2;
      font-size: 12px;
      padding: 2px 5px;

      &::before,
      &::after {
        content: '\f0e2';
        font: normal normal normal 12px/1 FontAwesome;
        margin: 0px 10px;
      }

      .msgtime {
        display: none;
      }
    }
  }
}

/* ------- LOG TOKENS ------- */

.bt_log_die {
  background-image: url('img/dice.webp');
  height: calc(var(--btTokenScale) * 40px);
  width: calc(var(--btTokenScale) * 40px);
  background-size: 500% 100%;
  display: inline-block;
  border: 1px solid;
  border-radius: 5%;
}

.bt_log_die[data-die-result='b_and_t'] {
  background-position-x: 0%;
}

.bt_log_die[data-die-result='miss'] {
  background-position-x: 25%;
}

.bt_log_die[data-die-result='flag'] {
  background-position-x: 50%;
}

.bt_log_die[data-die-result='hit_square_circle'] {
  background-position-x: 75%;
}

.bt_log_die[data-die-result='hit_triangle_circle'] {
  background-position-x: 100%;
}

#customActions {
  .bt_action_point {
    --btTokenScale: 0.7;
  }
  
  .bt_log_token {
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  .bt_log_die {
    --btTokenScale: 0.7;
  }

  .bt_marker_side {
    --btMarkerScale: 0.8;
    margin-left: 4px;
    border: 1px solid black;
  }

  .bt_token_side {
    --btTokenScale: 1.5;
    position: relative;
    top: -2px;
    margin-top: 2px;
  }
}

#pagemaintitletext,
#gameaction_status {
  .bt_card {
    display: none;
  }

  .bt_token_side {
    --btTokenScale: 1;
    position: relative;
    display: inline-block;
    top: -3px;
    margin-top: 3px;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
  }

  .bt_marker_side {
    --btMarkerScale: 0.7;
    position: relative;
    display: inline-block;
    top: -3px;
    margin-top: 3px;
    vertical-align: middle;
    border: 1px solid black;
    margin-left: 1px;
    margin-right: 1px;
  }

  .bt_log_die {
    // display: inline-block;
    position: relative;
    --btTokenScale: 0.7;
    vertical-align: middle;
    top: -4px;
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .bt_action_point {
    position: relative;
    --btTokenScale: 0.7;
    display: inline-block;
    vertical-align: middle;
    top: -3px;
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 6px;
    border-radius: 5%;
    border: 1px solid black;
  }

  .bt_action_point[data-faction="british"] {
    background-color: base.$british-color;
  }
  
  .bt_action_point[data-faction="french"] {
    background-color: base.$french-color;
  }
  
  .bt_action_point[data-faction="indian"] {
    background-color: base.$indian-color;
  }
}

.log > .roundedbox,
.log > .roundedboxinner {
  .bt_log_card {
    --btCardScale: var(--logCardScale);
  }

  .bt_card {
    margin-top: calc(var(--logCardScale) * 6px);
  }

  .bt_token_side {
    --btTokenScale: 0.8;
    position: relative;
    display: inline-block;
    top: -3px;
    margin-top: 3px;
    vertical-align: middle;
  }

  .bt_marker_side {
    --btMarkerScale: 0.7;
    position: relative;
    display: inline-block;
    top: -3px;
    margin-top: 3px;
    vertical-align: middle;
    border: 1px solid black;
    margin-left: 1px;
    margin-right: 1px;
  }

  .bt_log_die {
    --btTokenScale: 0.6;
    position: relative;
    top: -3px;
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
    vertical-align: middle;
  }

  .bt_action_point {
    position: relative;
    --btTokenScale: 0.7;
    display: inline-block;
    vertical-align: middle;
    top: -3px;
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 4px;
    border-radius: 5%;
    border: 1px solid black;
  }

  .bt_action_point[data-faction="british"] {
    background-color: base.$british-color;
  }
  
  .bt_action_point[data-faction="french"] {
    background-color: base.$french-color;
  }
  
  .bt_action_point[data-faction="indian"] {
    background-color: base.$indian-color;
  }
}
