#bt_right_column {
  // background-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // padding: 4px;
  gap: 8px;
  flex-grow: 1;
  --btPoolScale: var(--rightColumnScale);
  --btTokenScale: 1;//var(--btPoolScale);
}

.bt_unit_pool_container {
  min-height: 52px;
  min-width: 100px;
  // max-width: 400px;
  background-color: ivory;
  padding: 4px;
  // margin: 4px;
  box-shadow: 1px 1px 5px #000;
  --btTokenScale: 1;
}

.bt_unit_pool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bt_unit_pool_section_title {
  margin-top: 8px;
}