#step_tracker {
  padding-bottom: 8px;
  
  #step_stracker_title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0px;
    // margin-bottom: 8px;
    border-bottom: 1px solid black;
  
    span {
      font-weight: bold;
    }
  }

  li {
    padding: 4px 0px;
    padding-left: 8px;
  }

  li[data-active="true"] {
    background-color: ivory;
    font-style: italic;
    font-weight: bold;
    margin: 0px -3px;
    padding-left: 11px;
  }

  .step_tracker_battle_step {
    font-size: smaller;
    padding-left: 26px;
  }

  .step_tracker_battle_step[data-active="true"] {
    padding-left: 29px;
  }
}
