/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Bayonets and Tomahawks implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * bayonetsandtomahawks.css
 *
 * bayonetsandtomahawks stylesheet
 *
 */

@use '../node_modules/bga-cards/bga-cards'; // Does importing this like this first lead to any issues?
@use 'sass:math';
@use 'base';
@use 'actionPoints';
@use 'battle-log/battleLog';
@use 'battle-tab/battleTab';
@use 'card-managers/cards';
@use 'cards-in-play/cardsInPlay';
@use 'game-map/gamemap';
@use 'hand/hand';
@use 'info-panel/infoPanel';
@use "information-modal/informationModal";
@use 'logs/logs';
@use 'player-manager/playerPanel';
@use 'pools/pools';
@use 'counters';
@use 'markers';
@use 'scenario-info/scenarioInfo';
@use 'settings/settingsModal';
@use 'step-tracker/stepTracker';
@use 'tabbed-column/tabbedColumn';
@use 'tooltip-manager/tooltip';
@use 'nouislider';
// @import "../node_modules/bga-cards/bga-cards";

html {
  background: url('') rgb(192, 192, 192);
}

:root {
  --btCardScale: 1;
}

/* Note that this must be set on the element itself, since it does not inherit in Chrome, and is not supported in Firefox. */
// #page-content,
// #right-side-first-part {
//   zoom: 1 !important;
// }

#globalaction_zoom_wrap {
  display: none !important;
}

#play_area_container {
  padding: 4px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
}

#bt_discard {
  position: absolute;
  top: -400px;
  left: 150px;
  --btCardScale: 1;
  // width: 150px;
  // height: 230px;
}

#bt_deck {
  position: absolute;
  top: -400px;
  left: 0px;
  --btCardScale: 1;
  // width: 150px;
  // height: 230px;
}

#page-title {
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagemaintitle_wrap {
  flex-grow: 1;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton,
  #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

#play_area_container[data-two-columns='disabled'] {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* Hide the "You may note something for next time..." popup that would appear. */
#turnBasedNotesIncent {
  display: none;
}

/* Hide player is now online, player is now offline messages */
.notif_playerstatus {
  display: none !important;
}

#bt_left_column {
  width: calc(var(--leftColumnScale) * 1500px);
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // padding: 4px;
  gap: 8px;
  align-items: center;
}
