/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Bayonets and Tomahawks implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * bayonetsandtomahawks.css
 *
 * bayonetsandtomahawks stylesheet
 *
 */

@use "sass:math";

html {
  // background: url("") rgb(192, 192, 192);
}

#bt_map {
  background-image: url('img/map.webp');
  background-size: 1294px 2000px;
  background-repeat: no-repeat;
  // grid-column: 1 / span 1;
  // grid-row: span 1;
  height: 2000px;
  position: relative;
  width: 1294px;
  // box-shadow: rgb(0 0 0) 2px 2px 8px;
  box-shadow: 1px 1px 5px #000;
}